<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Jukebox: Collaborative Music Done Right</title>
    <link rel="shortcut icon" href="jukebox.ico" />
    <link rel="apple-touch-icon" href="jukebox.ico" />
    <style>
      .arrow-down {
        width: 0; 
        height: 0; 
        float: right;
        border-left: 1em solid transparent;
        border-right: 1em solid transparent;
        border-top: 1em solid #f00;
        vertical-align: center;
      }
      .arrow-up {
        width: 0; 
        height: 0; 
        float: right;
        border-left: 1em solid transparent;
        border-right: 1em solid transparent;
        border-bottom: 1em solid green;
        vertical-align: center;
      }
</style>
  </head>
  <body style="background:rgb(71, 71, 71);">
    <br />
    <br />
    <h1 style="text-align:center; color: rgb(223, 215, 215)">Jukebox</h1>
    <h5 style="text-align:center; color: rgba(226, 225, 225, 0.61)">A Collaborative Music Queue for Bose Soundtouch&trade;</h3>
    <br />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% block container %}
    {% endblock %}
  </body>
</html>