{% extends 'base.html' %}
{% block container %}
<form action="/search" method="POST">
    <div class="mx-auto input-group" style="width:30%">
        <input type="text" class="form-control" placeholder="Enter a Song..." name="SongSearch" id="SongSearch">
        <span class="input-group-btn">
          <input class="btn btn-default" type="submit" value="Submit"></button>
        </span>
    </div>
    <br />
<div class="mx-auto card" style="width: 30%; ">
        <ul class="list-group list-group-flush">
            {% for song in searchArray %}
          <li class="list-group-item"><a href="/add/{{song.info['uri']}}">{{song.info['name']}} - {{song.info['artist']}}</a></li>
          <!-- For loop creating a bunch of those li cards with the song names - Artist Name and Having the icons next to that-->
          {% endfor %}
        </ul>
      </div>
{% endblock %}